# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle wrapper
gradle

# Ignore Eclipse data
.settings
.project

# Ignore compiled class binaries
*.class
bin
classes
out

# Ignore Gradle build output directory
build

# Intellij Idea data
.idea
*.iml
