# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle wrapper
gradle

# Ignore Eclipse data
.settings
.project
.classpath

# Ignore compiled class binaries
*.class
bin
classes
out
*.jar

# Ignore Gradle build output directory
build

# Intellij Idea data
.idea
*.iml
hs_err_pid*.log

.DS_Store
